body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

#rythm-bar-container {
  position: relative;
  display: flex;
  border-bottom: 0.8vh solid #000;
  width: 50vw;
  height: 30vh;
  margin: auto;
}
